@font-face{
    // src:url("@/assets/fonts/raleway.ttf");
    font-family: 'ACUMIN PRO';
    src: url("@/assets/fonts/Acumin-RPro.woff") format("woff");
    font-display: auto;
    font-weight: normal;
  font-style: normal;
}