$background: #ffffff;
$accent:#0057ff;
$text:#191919;
$border-dark:#191919;
$background-hover: #f1f1f1;
$border-light: #e8e8e8;
$box-shadow: 0 3px 8px rgba(25,25,25,.3);
$alt-text: white;
$accent-10:#0055ff1f;
$accent-20:#0055ff48;
$accent-50:#0055ff85;
$title-size: calc(40px + 12 * (100vw / 1280));
$media-phone: 'max-width: 900px';
$media-laptop: 'max-width: 1100px';